In [1]:
import pandas as pd

In [2]:
#modules
import os
import csv

In [3]:
#month = input("what month are you looking for")

In [4]:
#set path for file
csv_path = os.path.join("Resources", "budget_data.csv")
print(csv_path)

Resources/budget_data.csv

In [5]:
#open the CSV
#found = False
#with open(csv_path) as csv_file:
    #csv_reader = csv.reader(csv_file)
    #for row in csv_reader:
        #if row [0] == month:
            #print (row[0] + "is correct")
            #found = True
    #if found == False:
        #print("wrong")

In [6]:
#create a dataframe of frames using a list of dictionaries
data_df = pd.read_csv(csv_path)
data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [7]:
#rename the columns to what i want to use
better_named_data_df = data_df.rename(columns={
    "Profit/Losses": "PNL"})
better_named_data_df.head()

       Date     PNL
0  Jan-2010  867884
1  Feb-2010  984655
2  Mar-2010  322013
3  Apr-2010  -69417
4  May-2010  310503

In [8]:
#add a column in the df
mom_diff = better_named_data_df["PNL"].diff()
better_named_data_df["MoM Diff"] = mom_diff
better_named_data_df.head()

       Date     PNL  MoM Diff
0  Jan-2010  867884       NaN
1  Feb-2010  984655  116771.0
2  Mar-2010  322013 -662642.0
3  Apr-2010  -69417 -391430.0
4  May-2010  310503  379920.0

In [9]:
#calcualate the total month in the df
total_months = len(better_named_data_df["Date"].unique())

#calculate the total pnl in the df
total_pnl = better_named_data_df["PNL"].sum()


average_change = better_named_data_df["MoM Diff"].mean()

In [10]:
#greatest increase
greatest_increase = better_named_data_df["MoM Diff"].max()
#greatest decrease 
greatest_decrease = better_named_data_df["MoM Diff"].min()

In [13]:
better_named_data_df.idxmax

<bound method DataFrame.idxmax of         Date      PNL   MoM Diff
0   Jan-2010   867884        NaN
1   Feb-2010   984655   116771.0
2   Mar-2010   322013  -662642.0
3   Apr-2010   -69417  -391430.0
4   May-2010   310503   379920.0
5   Jun-2010   522857   212354.0
6   Jul-2010  1033096   510239.0
7   Aug-2010   604885  -428211.0
8   Sep-2010  -216386  -821271.0
9   Oct-2010   477532   693918.0
10  Nov-2010   893810   416278.0
11  Dec-2010   -80353  -974163.0
12  Jan-2011   779806   860159.0
13  Feb-2011  -335203 -1115009.0
14  Mar-2011   697845  1033048.0
15  Apr-2011   793163    95318.0
16  May-2011   485070  -308093.0
17  Jun-2011   584122    99052.0
18  Jul-2011    62729  -521393.0
19  Aug-2011   668179   605450.0
20  Sep-2011   899906   231727.0
21  Oct-2011   834719   -65187.0
22  Nov-2011   132003  -702716.0
23  Dec-2011   309978   177975.0
24  Jan-2012  -755566 -1065544.0
25  Feb-2012  1170593  1926159.0
26  Mar-2012   252788  -917805.0
27  Apr-2012  1151518   898730.0
28  May-2012   817256  -334262.0
29  Jun-2012   570757  -246499.0
..       ...      ...        ...
56  Sep-2014  1166643   365942.0
57  Oct-2014   947333  -219310.0
58  Nov-2014   578668  -368665.0
59  Dec-2014   988505   409837.0
60  Jan-2015  1139715   151210.0
61  Feb-2015  1029471  -110244.0
62  Mar-2015   687533  -341938.0
63  Apr-2015  -524626 -1212159.0
64  May-2015   158620   683246.0
65  Jun-2015    87795   -70825.0
66  Jul-2015   423389   335594.0
67  Aug-2015   840723   417334.0
68  Sep-2015   568529  -272194.0
69  Oct-2015   332067  -236462.0
70  Nov-2015   989499   657432.0
71  Dec-2015   778237  -211262.0
72  Jan-2016   650000  -128237.0
73  Feb-2016 -1100387 -1750387.0
74  Mar-2016  -174946   925441.0
75  Apr-2016   757143   932089.0
76  May-2016   445709  -311434.0
77  Jun-2016   712961   267252.0
78  Jul-2016 -1163797 -1876758.0
79  Aug-2016   569899  1733696.0
80  Sep-2016   768450   198551.0
81  Oct-2016   102685  -665765.0
82  Nov-2016   795914   693229.0
83  Dec-2016    60988  -734926.0
84  Jan-2017   138230    77242.0
85  Feb-2017   671099   532869.0

[86 rows x 3 columns]>

In [32]:
#find the max month and print it
max_month = better_named_data_df.loc[better_named_data_df["MoM Diff"].idxmax()]
max_month
highest_month = max_month[0]

In [31]:
#find the min month and print it
min_month = better_named_data_df.loc[better_named_data_df["MoM Diff"].idxmin()]
min_month
print(min_month[1])
lowest_month = min_month[0]
print(lowest_month)

-1196225
Sep-2013

In [34]:
summary_table = pd.DataFrame({"Total Months": total_months,
                  "Total PNL": [total_pnl],
                   "Average Change": [average_change],
                   "Greatest Increase":[greatest_increase],
                    "Max Month":[highest_month],
                    "Greatest Decrease":[greatest_decrease],
                    "Min Month":[lowest_month]
                   })
summary_table

,Total Months,Total PNL,Average Change,Greatest Increase,Max Month,Greatest Decrease,Min Month
0,86,38382578,-2315.117647,1926159.0,Feb-2012,-2196167.0,Sep-2013

In [ ]:
# Export file as a CSV
file_one_df.to_csv("Output/fileOne.csv")